#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    opacity: 1;
}