h1{
    text-align: center;
    border-radius: 25px;
    background-color: aliceblue;
    font-size: 30px;
    padding: 20px;
}

div.task{
    background-color: aliceblue;
    border-color: #394352;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
}

hr{
    color: gray;
}

.li {
    margin:8px;
}

.li > code{
    border-radius: 5px;
    padding:3px;
    display: inline;
}

.li_red  code {
    color: #d54a4a;
    background-color: #efd1db;
}

.li_blue code {
    color: #4e7bd2;
    background-color: #aec8fa;
}
.li a{
    text-decoration: none;
}

.li a{
    color: #129385;
}
.li  a:hover{
    text-decoration: underline;
    color: #22b093;
}

code{
    font-family: "Source Code Pro";
}

xmp{
    background-color: #394352;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: "Arial Narrow";
    color: white;
}

.show_solution{
    text-align: center;
    display: block;
    background-color: #5e71b9;
    color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.show_solution:hover{
    font-size: 20px;
    padding: 15px;
}
